@use "../global-rule/global-rule" as *;
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #90d4c6;
	padding: 3rem;
	align-items: center;
	height: 350px;
	position: relative;
	ul {
		@extend %remove_list_style;
		font-family: $Barlow_600;
		display: flex;
		margin: 0;
		color: $footerlogoColor;
		gap: 25px;
		&:first-of-type {
			gap: 50px;
		}
		li {
			cursor: pointer;
			&:hover {
				color: white;
			}
		}
	}
	.attribution {
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		a {
			font-size: 11px !important;
			color: $footerlogoColor;
		}
	}
}
