@use "../global-rule/global-rule" as *;
section {
	.parentContainer {
		max-width: 1440px;
		margin: auto;
		display: flex;
		flex-direction: column;
		.cardContainer {
			display: flex;
			height: 600px;
			width: 100%;
			.transformImg {
				@extend %background;
				background-image: url(../../../images/desktop/image-transform.jpg);
				background-size: cover;
				flex-basis: 50%;
			}
			.standOutImg {
				@extend %background;
				background-image: url(../../../images/desktop/image-stand-out.jpg);
				background-size: cover;
				flex-basis: 50%;
			}
			.textBox {
				flex-basis: 50%;
				padding: 6rem 6rem 6rem 9rem;
				h2 {
					font-family: $Fraunces_700_900;
					font-size: 40px;
					width: 95%;
					font-weight: 900;
					color: $Verydarkdesaturatedblue;
				}
				p {
					color: #808397;
					font-family: $Barlow_600;
					line-height: 1.6;
				}
				a {
					font-size: 15px;
					font-family: $Fraunces_700_900;
					font-weight: 900;
					text-transform: uppercase;
				}
				&:first-of-type a {
					text-decoration: underline yellow;
				}
				&:last-of-type a {
					text-decoration: underline $SoftRed;
				}
			}
		}
		.twoGraph {
			display: flex;
			width: 100%;
			height: 600px;
			.graphicDesign {
				background-image: url(../../../images/desktop/image-graphic-design.jpg);
				color: #24554a;
			}
			.Photography {
				background-image: url(../../../images/desktop/image-photography.jpg);
				color: $DarkBlue;
			}
			div {
				@extend %background;
				background-size: cover;
				flex-basis: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding: 5rem 5rem 2rem;
				h2 {
					font-size: 28px;
					font-family: $Fraunces_700_900;
					font-weight: 900;
					text-transform: capitalize;
				}
				p {
					font-family: $Barlow_600;
					font-size: 16px;
					letter-spacing: -0.11px;
					text-align: center;
					color: #3e7467;
					padding: 0 6rem;
				}
			}
		}
	}
	.personCv {
		width: 100%;
		max-width: 1440px;
		padding: 6rem;
		> h2 {
			text-align: center;
			font-family: $Fraunces_700_900;
			font-weight: 900;
			font-size: 20px;
			letter-spacing: 5px;
			color: #a7aaad;
			margin-bottom: 50px;
			text-transform: uppercase;
		}
		.personChild {
			display: flex;
			gap: 5px;
			justify-content: center;
			> div {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 40px;
				justify-content: space-between;
				p {
					font-family: $Barlow_600;
					text-align: center;
					width: 90%;
					letter-spacing: -0.13px;
					color: #5b636d;
					line-height: 2rem;
				}
				div {
					display: flex;
					justify-content: center;
					flex-direction: column;
					h2 {
						color: #24303e;
						font-family: $Fraunces_700_900;
						font-weight: 900;
						letter-spacing: -0.13px;
						text-align: center;
					}
					span {
						color: #a7aaad;
						font-family: $Barlow_600;
						font-size: 14px;
					}
				}
			}
			img {
				width: 72px;
				height: 72px;
				border-radius: 50%;
			}
		}
	}
	.footerImage {
		width: 100%;
		display: flex;
		height: 447px;
		max-width: 1440px;
		min-width: 375px;
		.picContainer {
			height: 100%;
			flex-basis: 50%;
			display: flex;
			div {
				height: 100%;
				@extend %background;
				background-size: cover;
				flex-basis: 50%;
			}
		}
		.milkPhoto {
			background-image: url(../../../images/desktop/image-gallery-milkbottles.jpg);
		}
		.conePhoto {
			background-image: url(../../../images/desktop/image-gallery-cone.jpg);
		}
		.sugarPhoto {
			background-image: url(../../../images/desktop/image-gallery-sugarcubes.jpg);
		}
		.orangePhoto {
			background-image: url(../../../images/desktop/image-gallery-orange.jpg);
		}
	}
}

@media (max-width: 1200px) and (min-width: 800px) {
	section {
		.textBox {
			padding: 6rem 1rem 6rem 2rem !important;
		}
		.twoGraph {
			p {
				padding: 0 1rem !important;
			}
		}
	}
}

@media (max-width: 800px) and (min-width: 375px) {
	section {
		.parentContainer {
			.cardContainer {
				flex-direction: column;
				height: 750px !important;
				min-width: 375px;
				.textBox {
					padding: 60px 1rem !important;
					flex-basis: 50%;
					text-align: center;
					h2 {
						font-size: 32px !important;
						width: 100% !important;
					}
				}
				.standOutImg {
					background-image: url(../../../images/mobile/image-stand-out.jpg);
				}
				.transformImg {
					background-image: url(../../../images/mobile/image-transform.jpg);
				}
				&:first-of-type {
					flex-direction: column-reverse;
				}
			}
			.twoGraph {
				flex-direction: column;
				height: 1200px !important;

				p {
					padding: 0 1rem !important;
				}
				.Photography {
					background-image: url(../../../images/mobile/image-photography.jpg);
				}
				.graphicDesign {
					background-image: url(../../../images/mobile/image-graphic-design.jpg);
				}
				div {
					padding: 5rem 1rem 2rem !important;
				}
			}
			.personCv {
				padding: 3rem 5px 5rem;
				& > h2 {
					font-size: 16px;
					margin-bottom: 65px;
				}
				.personChild {
					flex-direction: column;
					gap: 60px;
					& > div {
						h2 {
							margin-bottom: 12px;
						}
					}
				}
			}
			.footerImage {
				flex-direction: column;
			}
		}
	}
}
